button, input {
  min-width: 44px;
  min-height: 44px;
}

.text-white {
  color: #fff;
}

.text-size-normal {
  font-size: 1rem;
  line-height: 2.5rem;
}

.text-light {
  font-weight: lighter;
}

.navbar-padding {
  padding: .5rem 0;
}

.d-flex {
  display: flex;
}

.d-grid {
  display: grid;
}

.flex-column {
  flex-direction: column;
}

.grid-template-col-3 {
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.gap-1rem {
  gap: 1rem;
}

.justify-center {
  justify-content: center;
}

.padding-x-1\/2 {
  padding-right: .5rem;
  padding-left: .5rem;
}

.w-full {
  width: 100%;
}

.form-group:not(:first-child) {
  margin-top: 1rem;
}

form#new-note-form textarea {
  border: 0 none;
  padding: 10px;
  background: #fff;
  color: #666;
  border: 1px solid #e5e5e5;
  transition: .2s ease-in-out;
  transition-property: color, background-color, border;
  font: inherit;
}

form#new-note-form textarea:focus {
  outline: 0;
  background-color: #fff;
  color: #666;
  border-color: #1e87f0;
}

.notes-item__title,
.notes-item__body {
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
}

.notes-item__title {
  -webkit-line-clamp: 1;
}

.notes-item__body {
  -webkit-line-clamp: 4;
}

note-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
}
